<div class="nav-secondary" style="overflow: hidden; display: none;">
  <div class="row">
    <div class="large-3 columns">
      <h4 class="logo-dark">{{ site.title }}</h4>
    </div>
    <div class="small-9 columns text-right show-for-large-up navlinks2">
      {% for nav in site.navigation %}
        {% if nav.name != null %}
          <a href="{{ nav.path }}">{{ nav.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<header class="show-for-small">
	<nav class="navigation c4c-white">
		<div class="row">
			<div class="small-12 columns show-for-small navlinks">
				<ul class="vertical medium-horizontal menu">
					<li class="menu-text"><a href="#"><img src="images/c4c_logo.png" style="height:50px; width: 50px;"></a></li>
          {% for nav in site.navigation %}
            {% if nav.name != null %}
				      <li><a href="{{ nav.path }}">{{ nav.name }}</a></li>
            {% endif %}
          {% endfor %}
				</ul>
			</div>
    </div>
  </nav>
  <div class="show-for-large">
    <video autoplay="" muted="muted" loop="loop" poster="video.jpg" style="min-width: 100%; min-height:100%;">
      <source src="intro.mp4" type="video/mp4">
      <img src="video.jpg" width="100%" height="100%" alt="">
    </video>
  </div>
</header>