.c4c-green-bg {
	background-color: rgb(0, 249, 182);
}
.c4c-green {
	color: rgb(0, 249, 182);
}
.c4c-blue-bg {
	background-color: rgb(0,0,176);
}
.c4c-blue {
	color: rgb(0,0,176);
}
.c4c-white-bg {
	background-color: rgb(255,255,232);
}
.c4c-white {
	color: rgb(255,255,232);
}
.c4c-navy-bg {
	background-color: rgb(0,1,58);
}
.c4c-navy {
	color: rgb(0,1,58);
}


@media screen and (min-width:1024px) {
	.navigation {
		position: absolute;
		top: 100px;
		z-index: 9995;
	}
	.navigation a {
		font-weight: bolder;
		color: rgb(255,255,232);
	}

	.navigation a:hover {
		color: rgb(0, 249, 182);
	}
}
@media screen and (max-width:1023px) {
	.navigation {
		background-color: rgb(255,255,232);
	}
	.navigation a {
		font-weight: bolder;
		color: rgb(0,1,58);
	}
}

.footer a {
	color: rgb(255,255,232);
}
.footer a:hover {
	color: rgb(0, 249, 182);
}